/*
 * Copyright (c) 2023 Nordic Semiconductor ASA
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
    aliases {
        w1-bus = &w1_bus;
    };

    chosen {
        zephyr,audio-in = &i2s0;
    };
};

/* I2C configuration for TLV320ADC3100 and BME280 */
&i2c0 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_FAST>;
    pinctrl-0 = <&i2c0_default>;
    pinctrl-1 = <&i2c0_sleep>;
    pinctrl-names = "default", "sleep";

    tlv320adc3100: tlv320adc3100@18 {
        compatible = "ti,tlv320adc3100";
        reg = <0x18>;
        reset-gpios = <&gpio0 25 GPIO_ACTIVE_LOW>;
        status = "okay";
    };

    bme280: bme280@76 {
        compatible = "bosch,bme280";
        reg = <0x76>;
        status = "okay";
    };
};

/* I2S configuration for audio input */
&i2s0 {
    status = "okay";
    pinctrl-0 = <&i2s0_default>;
    pinctrl-1 = <&i2s0_sleep>;
    pinctrl-names = "default", "sleep";
    clock-source = "PCLK32M_HFXO";
};

/* 1-Wire bus for DS18B20 sensors */
/ {
    w1_bus: w1-gpio {
        compatible = "w1-gpio";
        gpios = <&gpio0 26 (GPIO_OPEN_DRAIN | GPIO_ACTIVE_HIGH)>;
        status = "okay";
    };
};

/* DS18B20 temperature sensors */
/ {
    ds18b20_0: ds18b20-0 {
        compatible = "maxim,ds18b20";
        status = "okay";
        w1-bus = <&w1_bus>;
        resolution = <12>;
        serial-number = [28 12 34 56 78 90 AB CD];
    };

    ds18b20_1: ds18b20-1 {
        compatible = "maxim,ds18b20";
        status = "okay";
        w1-bus = <&w1_bus>;
        resolution = <12>;
        serial-number = [28 21 43 65 87 09 BA DC];
};

&i2c0 {
    status = "okay";
    pinctrl-0 = <&i2c0_default>;
    pinctrl-1 = <&i2c0_sleep>;
    pinctrl-names = "default", "sleep";
    clock-frequency = <I2C_BITRATE_FAST>;

    tlv320adc3100: tlv320adc3100@18 {
        compatible = "ti,tlv320adc3100";
        reg = <0x18>;
        reset-gpios = <&gpio0 25 GPIO_ACTIVE_LOW>;
        status = "okay";
    };

    bme280: bme280@76 {
        compatible = "bosch,bme280";
        reg = <0x76>;
        status = "okay";
    };
};

&spi1 {
    status = "okay";
    pinctrl-0 = <&spi1_default>;
    pinctrl-1 = <&spi1_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio0 23 GPIO_ACTIVE_LOW>;

    hx711: hx711@0 {
        compatible = "avia,hx711";
        reg = <0>;
        spi-max-frequency = <5000000>;
        status = "okay";
    };
};

&flash0 {
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        storage_partition: partition@f8000 {
            label = "storage";
            reg = <0xf8000 0x8000>;
        };
    };
};
